/************************************************************
Name: Vicky Mohammad 
Date: March 4, 2018
Program: This will be the stylesheet for the graphic interface
************************************************************/

/*import; libs for fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");

/***********************************************************
 * main html and the body
 ***********************************************************/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}
.fillPage{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.centerContent{
    max-width: 50em;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 300;
    color: #666;
}
.setParallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/***********************************************************
 * fonts
 ***********************************************************/

.setBungeeFont{font-family: 'Bungee', cursive;}
.setRozhaFont{font-family: 'Rozha One', serif;}
.setOswaldFont{font-family: 'Oswald', sans-serif;}
.setRalewayFont{font-family: 'Raleway', sans-serif;}
.setCedaville{font-family: 'Cedarville Cursive', cursive;}
.setTimesNewRomanFont{font-family: "Times New Roman";}
.setBold{font-weight: bold; }

/***********************************************************
 * navigation bar
 ***********************************************************/

.navigationBar{
    opacity: 1;
    display: table;
    top: 0;
    background-color: darkred;
    font-family: "Times New Roman";
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
}
.a{
    padding-right: 10px;
    padding-left: 10px;
}
.navigationBar a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.5s ease-out;
}
.navigationButton a:hover{
    color: darkred;
    background-color: white;
    text-transform: none;
}
.appName{
    top: 12px;
    color: white;
    position: absolute;
    margin-left: 50px;
    font-size: 20px;
}
.roundSquareButton a{
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
}

/***********************************************************
 * intro cover
 ***********************************************************/

.introContent{
    /*background: url(assets/lastSupper.jpg) no-repeat fixed 100%;
    background-position: center;
    height: 75%;
    width: 100%;
    margin:auto;
    background-size: cover;
    z-index: -10;
    transition-delay: all 1.5s ease-out !important;*/
    padding-bottom: 35%;
}

/***********************************************************
 * popups
 ***********************************************************/

.overlay {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 100ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popupInfo p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.popupDisplay {
    top: -10%;
    text-align: center;
    z-index: 21;
    right: 0;
    left: 0;
    margin: 10% auto;
    max-width: 30em;
    padding: 20px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.popupDisplay h2 {
    margin-top: 40px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popupDisplay .closePopup {
    position: absolute;
    text-decoration: none;
    top: -10px;
    right: 10px;
    transition: all 100ms;
    font-size: 35px;
    font-weight: bold;
    color: darkred;
    transition: all 0.3s ease-in-out;
}
.popupDisplay .closePopup:hover {
    color: red;
}
.popupDisplay .content{
    max-height: 30%;
    overflow: auto;
}

/***********************************************************
 * layouts
 ***********************************************************/

 .standardLayout{
    top: 100;
    position: static;
    width: 100%;
    background: white;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 110%;
    z-index: 0;
 }
.titlePadding{
    padding-bottom: 0.9em;
}
.standardPadding{
    padding-top: 1em;
    padding-bottom: 1em;
}
.noUnderline{
    text-decoration: none !important;
}
.setRelativePosition{
    position: relative;
}

/***********************************************************
 * buttons
 ***********************************************************/

.btn:hover{
    background: white;
    color: darkred;
    border-color: darkred;
    border-width: medium;
    transition: all 0.5s ease-out;
}
.btn{
    border-width: medium;
    margin-right: 10px;
    margin-left: 10px;
}
.setButtonDarkRed{
    color: white;
    background-color: darkred;
}
.homePanel a{
    text-decoration: none;
    color: white;
    border: 5px solid white;
    position: absolute;
    left: 150px;
    bottom:300px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
}
.homePanel a:hover{
    background-color: white;
    color: black;
    opacity: 0.7;
    transition: all 0.75s ease-out;
    z-index: 10;
}
.select{
    color: rgb(25, 25, 25);
    background: white;    
}

/***********************************************************
 * classes
 ***********************************************************/

.thickBorder{
    border-width: thick;
    border-style: solid;
    border-color: #666;
}
.setWhite{
    color: white;
}
.setWhiteBackground{
    background: white;
}
.setDarkGrey{
    color: rgb(25, 25, 25);
}
.setLightBlue{
    color: rgb(30, 200, 255);
}

/***********************************************************
 * panels
 ***********************************************************/

 /*main panel*/
 #video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}
.welcomeContent{
    top: 0;
    height: 14em;
    font-size: 110%;
    background: white;
 }
.secondBackground{
    background: url(assets/grampa.jpeg) no-repeat fixed 70%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    z-index: 1;
}

/*status panel*/
.clearButton{
    margin-left: 100px;
}
.statusTextArea{
    background: white;
    color: #666;
}
.selectGEDCOM{
    color: rgb(25, 25, 25);
    background: white;
    min-width: 100%;
}
.gedcomButtons{
    padding-top: 2em;
    padding-bottom: 3em;
}
.fileUploadButton{
    padding-bottom: 4em;
}

/*output panel*/
.thirdBackground{
    background: url(assets/greyGrampa.jpeg) no-repeat fixed 70%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70%;
    z-index: 1;
}
.outputTable{
    padding-top: 5em;
}

/*footer*/
.footerPanel{
    padding-top: 1em;
    padding-bottom: 0.1em;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

/***********************************************************
 * make the web compatible with phene etc
 ***********************************************************/

 @media screen and (max-width: 900px){
    .navigationBar{
        font-size: 90%;
    }
    .navigationButton a{
        margin-left: 5px;
        margin-right: 5px;
    }
}